<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Simple Boilerplate</title>
  <link rel="stylesheet" href="app/style.css">
  <script src="lib/angular/angular.js"></script>
</head>
<body ng-controller="AppController">
<h1>{{ message }}</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="course in courses">{{ course.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students">
      <td>{{ student.name }}</td>
      <td ng-repeat="course in courses"></td>
    </tr>
  </tbody>
</table>
<script type="text/javascript" src="app/services.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>
